<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Terminfindung und Abstimmung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Terminfindung und Abstimmung</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script>
            function addChoiceOption(){
                $('#terminChoiceOptions .form-group').last().append(`<div class="form-group">
                <input class="form-control" type="date">
            </div>`)
            }
        </script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul th:replace="fragments/general.html :: navigationList(newTerminActive=true)"></ul>
    </nav>
</header>
<main th:fragment="bodycontent" class="d-flex flex-column" style="min-height: 100vh">
    <div class="container flex-fill">
        <div th:replace="fragments/general.html :: pageHeading(process='Neue Terminfindung', page='Auswahlmöglichkeiten')"></div>
        <form method="post" id="terminChoiceOptions">
            <div class="form-group">
                <input class="form-control" type="date">
                <button type="button" name="addOption" class="btn btn-primary" onclick="addChoiceOption()"><img th:src="@{icons/plus.svg}" width="30" height="30" class="d-inline-block align-top" alt=""></button>
            </div>

            <button type="submit" name="_eventId_choicesettings"  class="btn btn-primary float-left">Zurück</button>
            <button type="submit" name="_eventId_publication"  class="btn btn-primary float-right">Weiter</button>
        </form>
    </div>
</main>
</body>
</html>
