/* Mittleres Element der Terminvorschläge umklappen */
@media (max-width: 575.98px) {

    .wrap-check-icon {
        width: 25%;
    }

    .wrap-von-bis {
        width: 100%;
        order: 3 !important;
    }
    .wrap-delete-button{
        width:75%;
        order:2 !important;

    }
}

.wrap-input-date {
    min-width: 25%;
}

@media (max-width: 767.98px) {

    .wrap-input-date {
        width: 75%;
    }

    .wrap-input-von-bis {
        width: 100%;
        order: 3 !important;
    }
    .wrap-input-add-button{
        width:25%;
        order:2 !important;
    }
}
