.addOptionBtn {
    width: 100px
}

.optionTime {
    max-width: 29%;
}

.border-primary.card-hover:hover {
    transition: background-color 0.3s ease;
    background-color: rgba(0, 123, 255, 0.5);
}

.card-hover:hover span, .card-hover:hover h5, .card-hover:hover i {
    transition: color 0.3s ease;
    color: #fff;
}

.border-dark.card-hover:hover {
    transition: background-color 0.3s ease;
    background-color: rgba(52, 58, 64, 0.5)!important;
}

/* TABLE */

.table-striped tbody tr:nth-of-type(odd) {
    background: #fff;
}

.table-striped tbody tr:nth-child(even), .table-striped thead tr {
    background: #f8f9fa;
}

table.table-striped tr th {
    color: #000;
}

/* CHART */
/*
#resultChart {
    height: 300px !important;
    width: 300px !important;
}
*/

@media only screen and (max-width: 989px){
    .chart {
        transform: rotate(-90deg);
    }

    .desktopConfirmation, .desktopResults {
        display: none;
    }

    .mobileConfirmation, .mobileResults {
        display: block;
    }
}

@media only screen and (min-width: 990px){
    .desktopConfirmation, .desktopResults {
        display: block;
    }

    .mobileConfirmation, .mobileResults {
        display: none;
    }
}