<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Terminfindung und Abstimmung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Terminfindung und Abstimmung</title>
    <th:block th:fragment="headcontent">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{choiceSettings.js}"></script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul th:replace="fragments/general.html :: navigationList(newAbstimmungActive=true)"></ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container">
        <div th:replace="fragments/general.html :: pageHeading(process='Neue Abstimmung', page='Auswahleinstellungen')"></div>
        <form method="post" class="needs-validation" novalidate
              th:object="${configDto}" id="datePollConfig" th:action="${flowExecutionUrl}" >
            <div class="single-choice form-group">
                <label>Anzahl Auswahlmöglichkeiten</label>
                <div class="form-check">
                    <input class="form-check-input" id="single-choice" type="radio"
                           value="true" th:field="*{singleChoice}" checked>
                    <label for="single-choice" class="form-check-label">
                        Single Choice
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="single-choice" type="radio"
                           value="false" th:field="*{singleChoice}">
                    <label for="single-choice" class="form-check-label">
                        Multiple Choice
                    </label>
                </div>
                <hr>
                <label>Namensanzeige</label>
                <div class="form-check">
                    <input class="form-check-input" id="name-anonymous" type="checkbox" value="true" th:field="*{anonymous}">
                    <label for="name-anonymous" class="form-check-label">
                        Anonym
                    </label>
                </div>
                <button type="submit" name="_eventId_entries" class="btn btn-primary float-right mt-5">Weiter</button>
                <button type="submit" name="_eventId_access"  class="btn btn-primary float-left mt-5">Zurück</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
