<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Terminfindung und Abstimmung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Terminfindung und Abstimmung</title>
    <th:block th:fragment="headcontent">
        <script type="text/javascript" th:src="@{validation.js}"></script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul th:replace="fragments/general.html :: navigationList(newAbstimmungActive=true)"></ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container">
        <div th:replace="fragments/general.html :: pageHeading(process='Neue Abstimmung', page='Allgemeines')"></div>
        <form method="post" class="needs-validation" novalidate
              th:object="${headerDto}" id="questionPollHeader" th:action="${flowExecutionUrl}" >

            <div th:replace="fragments/general.html :: defaultErrorAlerts"></div>

            <div class="form-group">
                <label for="fileUpload">Abstimmung hochladen</label>
                <input type="file" class="form-control-file" id="fileUpload" accept=".yml, .yaml">

                <label for="title">Titel</label>
                <input class="form-control" id="title" type="text" th:field="*{title}"
                       th:classappend="${T(mops.utils.BootstrapValidInvalidUtil).getClass(#fields.hasErrors('title'), #fields.hasAnyErrors())}"
                       placeholder="Neue Abstimmung">
                <div class="invalid-feedback" th:errors="*{title}"></div>
            </div>

            <div class="form-group">
                <label for="question">Frage</label>
                <input class="form-control" id="question" type="text" th:field="*{question}"
                       th:classappend="${T(mops.utils.BootstrapValidInvalidUtil).getClass(#fields.hasErrors('question'), #fields.hasAnyErrors())}"
                       placeholder="Frage">
                <div class="invalid-feedback" th:errors="*{question}"></div>
            </div>

            <div class="form-group">
                <label for="description">Beschreibung (optional)</label>
                <input class="form-control" id="description" type="text" th:field="*{description}"
                       th:classappend="${T(mops.utils.BootstrapValidInvalidUtil).getClass(#fields.hasErrors('description'), #fields.hasAnyErrors())}"
                       placeholder="Beschreibung">
                <div class="invalid-feedback" th:errors="*{description}"></div>
            </div>

            <button type="submit" name="_eventId_access"  class="btn btn-primary float-right mt-5">Weiter</button>
            <button type="submit" name="_eventId_home"  class="btn btn-primary float-left mt-5">Zurück</button>
        </form>
    </div>
</main>
</body>
</html>
