<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Terminfindung und Abstimmung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Terminfindung und Abstimmung</title>
    <th:block th:fragment="headcontent">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="@{/accessSettings.js}"></script>
        <link rel="stylesheet" th:href="@{/termine1.css}">
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul th:replace="fragments/general.html :: navigationList(newAbstimmungActive=true)"></ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container">
        <div th:replace="fragments/general.html :: pageHeading(process='Neue Abstimmung', page='Zeitraum')"></div>
        <form method="post" th:action="${flowExecutionUrl}" th:object="${timespanDto}">

            <div th:replace="fragments/general.html :: defaultErrorAlerts"></div>

            <div class="form-group">
                <label>Start</label>
                <div class="input-group">
                    <input class="form-control" type="date" id="poll-startDate" th:field="*{{startDate}}" required
                           th:classappend="${T(mops.utils.BootstrapValidInvalidUtil).getClass(#fields.hasErrors('startDate'), #fields.hasAnyErrors())}">
                    <input class="form-control" type="time" id="poll-startTime" th:field="*{startTime}" required
                           th:classappend="${T(mops.utils.BootstrapValidInvalidUtil).getClass(#fields.hasErrors('startDate'), #fields.hasAnyErrors())}">
                    <div class="input-group-append">
                        <span class="input-group-text">Uhr</span>
                    </div>
                    <div class="invalid-feedback" th:errors="*{startDate}"></div>
                </div>
            </div>
            <div class="form-group">
                <label>Ende</label>
                <div class="input-group">
                    <input class="form-control" type="date" id="poll-endDate" th:field="*{endDate}" required
                           th:classappend="${T(mops.utils.BootstrapValidInvalidUtil).getClass(#fields.hasErrors('endDate'), #fields.hasAnyErrors())}">
                    <input class="form-control" type="time" id="poll-endTime" th:field="*{endTime}" required
                           th:classappend="${T(mops.utils.BootstrapValidInvalidUtil).getClass(#fields.hasErrors('endDate'), #fields.hasAnyErrors())}">
                    <div class="input-group-append">
                        <span class="input-group-text">Uhr</span>
                    </div>
                    <div class="invalid-feedback" th:errors="*{endDate}"></div>
                </div>
            </div>
            <button type="submit" name="_eventId_choicesettings" class="btn btn-primary float-right mt-5">Weiter</button>
            <button type="submit" name="_eventId_name"  class="btn btn-primary float-left mt-5">Zurück</button>
        </form>
    </div>
</main>
</body>
</html>

