<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Terminfindung und Abstimmung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Terminfindung und Abstimmung</title>
    <th:block th:fragment="headcontent">

    </th:block>
</head>
<body>
<div th:object="${optionsDto}" th:fragment="schedulingForm">
    <form method="post" id="schedulingChoiceOptions" novalidate th:action="${flowExecutionUrl}">
        <!--<div class="form-group">
            <input class="form-control" placeholder="Fragestellung" required>
            <div class="invalid-feedback">
                Bitte gib einen Fragestellung ein.
            </div>
        </div>-->
        <div class="card my-1">
            <div class="card-body p-2">
                <div class="d-flex flex-row flex-wrap align-items-center no-gutters">

                    <div class="wrap-input-date order-1 d-flex align-items-center pl-2">
                        <i class="fa fa-check-square-o fa-2x"></i>
                        <input class="form-control ml-3 mr-3" type="date" name="addDate" value="2020-05-20"
                               th:classappend="${T(mops.utils.BootstrapValidInvalidUtil).getClass(#fields.hasErrors('defaulterrors'), #fields.hasAnyErrors())}">
                    </div>

                    <div class="wrap-input-von-bis order-2 d-flex align-items-center ml-2 my-2 my-md-0">
                        <i class="fa fa-clock-o fa-2x"></i>
                        <input class="form-control ml-3" type="time" name="addStartTime" value="15:00"
                               th:classappend="${T(mops.utils.BootstrapValidInvalidUtil).getClass(#fields.hasErrors('defaulterrors'), #fields.hasAnyErrors())}">
                        <h4 class="mb-0 ml-2">bis</h4>
                        <input class="form-control ml-2" type="time" name="addEndTime" value="17:00"
                               th:classappend="${T(mops.utils.BootstrapValidInvalidUtil).getClass(#fields.hasErrors('defaulterrors'), #fields.hasAnyErrors())}">
                    </div>

                    <div class="wrap-input-add-button order-3 d-flex flex-row-reverse ml-auto">
                        <button class="delete-button btn btn-success"
                                type="submit" name="_eventId_addoption">
                            <i class="fa fa-plus fa-2x"></i></button>
                    </div>

                </div>
                <div class="d-flex flex-row flex-wrap mx-5 mb-1">
                    <div class="invalid-feedback d-inline" th:errors="*{defaulterrors}" th:text="${err}"></div>
                </div>
            </div>
        </div>
    </form>

    <form method="post" th:each="option : ${optionsDto.options}" th:action="${flowExecutionUrl}">
        <div class="card my-1">
            <div class="card-body p-2">
                <div class="d-flex flex-row flex-wrap align-items-center no-gutters">

                    <div class="wrap-check-icon order-1 d-flex align-items-center w-25 pl-2">
                        <i class="fa fa-check-square-o fa-2x"></i>
                        <h4 class="pl-2 pr-2 mb-0" th:text="${option.getDate()}"></h4>
                    </div>

                    <div class="wrap-von-bis order-2 d-flex align-items-center ml-2 my-2 my-sm-0">
                        <i class="fa fa-clock-o fa-2x"></i>
                        <h4 class="mb-0 ml-2" th:text="${option.getStartTime()}"></h4>
                        <h4 class="mb-0 ml-2">bis</h4>
                        <h4 class="mb-0 ml-2" th:text="${option.getEndTime()}"></h4>
                    </div>

                    <div class="wrap-delete-button order-3 d-flex flex-row-reverse ml-auto">
                        <input type="hidden" readonly name="deleteDate" th:value="${option.getDate()}">
                        <input type="hidden" readonly name="deleteStartTime" th:value="${option.getStartTime()}">
                        <input type="hidden" readonly name="deleteEndTime" th:value="${option.getEndTime()}">
                        <button class="delete-button btn btn-danger"
                                type="submit" name="_eventId_deleteoption">
                            <i class="fa fa-trash-o fa-2x"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form method="post" id="schedulingChoiceOptions" novalidate th:action="${flowExecutionUrl}">
        <button type="submit" name="_eventId_publication"  class="btn btn-primary float-right mt-5">Weiter</button>
        <button type="submit" name="_eventId_choicesettings"  class="btn btn-primary float-left mt-5">Zurück</button>
    </form>
</div>
</body>
</html>
