<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Terminfindung und Abstimmung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Terminfindung und Abstimmung</title>
    <th:block th:fragment="headcontent">
    </th:block>
</head>
<body>
    <form method="post" class="needs-validation" novalidate th:fragment="form"
          th:object="${metaInfDto}" id="datePollMetaInf" th:action="${flowExecutionUrl}" >

        <div th:replace="fragments/general.html :: defaultErrorAlerts"></div>

        <div class="form-group">
            <label for="fileUpload" th:if="${terminfindung}">Terminfindung hochladen</label>
            <label for="fileUpload" th:unless="${terminfindung}">Abstimmung hochladen</label>
            <input type="file" class="form-control-file" id="fileUpload" accept=".yml, .yaml">

            <label for="title">Titel</label>
            <input class="form-control" id="title" type="text" th:field="*{title}"
                   th:classappend="${T(mops.utils.BootstrapValidInvalidUtil).getClass(#fields.hasErrors('title'), #fields.hasAnyErrors())}"
                   th:placeholder="${terminfindung} ? 'Neue Terminfindung' : 'Neue Abstimmung'">
            <div class="invalid-feedback" th:errors="*{title}"></div>
        </div>

        <div class="form-group">
            <label for="description">Beschreibung (optional)</label>
            <input class="form-control" id="description" type="text" th:field="*{description}"
                   th:classappend="${T(mops.utils.BootstrapValidInvalidUtil).getClass(#fields.hasErrors('description'), #fields.hasAnyErrors())}"
                   placeholder="Beschreibung">
            <div class="invalid-feedback" th:errors="*{description}"></div>
        </div>

        <!--/*@thymesVar id="terminfindung" type=""*/-->
        <div class="form-group" th:if="${terminfindung}">
            <label for="location">Ort (optional)</label>
            <input class="form-control" id="location" type="text" th:field="*{location}"
                   th:classappend="${T(mops.utils.BootstrapValidInvalidUtil).getClass(#fields.hasErrors('location'), #fields.hasAnyErrors())}"
                   placeholder="Ort">
            <div class="invalid-feedback" th:errors="*{location}"></div>
        </div>
        <button type="submit" name="_eventId_access"  class="btn btn-primary float-right mt-5">Weiter</button>
        <button type="submit" name="_eventId_home"  class="btn btn-primary float-left mt-5">Zurück</button>
    </form>
</body>
</html>
