<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Terminfindung und Abstimmung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Terminfindung und Abstimmung</title>
    <th:block th:fragment="headcontent">
    </th:block>
</head>
<body>
    <form th:action method="post" th:fragment="form">
        <div class="form-group">
            <label>Dein Link</label>
            <input type="text" class="form-control" id="termin-link" value="LINK" readonly>
        </div>
        <div class="form-group">
            <label>Person hinzufügen</label>
            <input class="form-control" id="termin-person" placeholder="Name">
        </div>
        <div class="form-group">
            <label>Gruppe hinzufügen</label>
            <select class="custom-select" id="termin-group">
                <option>Gruppenname1</option>
                <option>Gruppenname2</option>
                <option>Gruppenname3</option>
            </select>
        </div>
        <div class="form-group">
            <label>Auswahl</label>
            <textarea class="form-control" id="termin-auswahl" placeholder="Namen und Gruppen" rows="3" readonly></textarea>
        </div>
        <button type="submit" name="_eventId_confirmation"  class="btn btn-primary float-right mt-5">Weiter</button>
        <button type="submit" name="_eventId_choiceoptions"  class="btn btn-primary float-left mt-5">Zurück</button>
    </form>
</body>
</html>
