<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Terminfindung und Abstimmung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Terminfindung und Abstimmung</title>
    <th:block th:fragment="headcontent">
    </th:block>
</head>
<body>
    <ul th:fragment="navigationList">
        <!--/*@thymesVar id="dashboardActive" type=""*/-->
        <li th:class="${dashboardActive}? active"><a href="/">Dashboard</a></li>
        <li><a href="">Von mir erstellte (oder wie man das nennen soll)</a></li>
        <!--/*@thymesVar id="newTerminActive" type=""*/-->
        <li th:class="${newTerminActive}? active"><a href="/scheduling">Terminfindung erstellen</a></li>
        <li><a href="">Abstimmung erstellen</a></li>
        <li><a href="">Beitreten</a></li>
    </ul>

    <div class="form-group" th:fragment="terminOption">
        <input class="form-control w-25" type="date">
        <button name="addOption" class="btn btn-primary"><img th:src="@{icons/plus.svg}" width="30" height="30" class="d-inline-block align-top" alt=""></button>
    </div>


    <div class="termin-heading" th:fragment="pageHeading">
        <h3>Neue Terminfindung - <!--/*@thymesVar id="page" type=""*/-->
            <span th:text="${page}">Allgemeines</span></h3>
        <hr/>
    </div>

    <form method="post" class="needs-validation" novalidate th:fragment="nameSettingsForm">
        <div class="form-group">
            <label>Titel</label>
            <input class="form-control" id="termin-title" placeholder="Neue Terminfindung" required>
            <div class="invalid-feedback">
                Bitte gib einen Titel für die Terminfindung ein.
            </div>
        </div>
        <div class="form-group">
            <label>Beschreibung (optional)</label>
            <input class="form-control" id="termin-description" placeholder="Beschreibung">
        </div>
        <!--/*@thymesVar id="terminfindung" type=""*/-->
        <div class="form-group" th:if="${terminfindung}">
            <label>Ort (optional)</label>
            <input class="form-control" id="termin-location" placeholder="Ort">
        </div>
        <button type="submit" name="_eventId_home"  class="btn btn-primary float-left mt-5">Zurück</button>
        <button type="submit" name="_eventId_access"  class="btn btn-primary float-right mt-5">Weiter</button>
    </form>
    <form method="post" th:fragment="accessSettingsForm">
        <div class="form-group">
            <label>Start</label>
            <div class="row">
                <div class="col">
                    <input class="form-control" type="date" id="termin-startDate">
                </div>
                <div class="col">
                    <input class="form-control" type="time" id="termin-startTime">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Ende</label>
            <div class="row">
                <div class="col">
                    <input class="form-control" type="date" id="termin-endDate">
                </div>
                <div class="col">
                    <input class="form-control" type="time" id="termin-endTime">
                </div>
            </div>
        </div>
        <button type="submit" name="_eventId_name"  class="btn btn-primary float-left mt-5">Zurück</button>
        <button type="submit" name="_eventId_choicesettings" class="btn btn-primary float-right mt-5">Weiter</button>
    </form>
    <form method="post" th:fragment="choiceSettingsForm">
        <div class="choice-amount">
            <label>Anzahl Auswahlmöglichkeiten</label>
            <div class="form-check">
                <input class="form-check-input" name="choice-amount" type="radio" value="single-choice" onchange="showPriorities()" checked>
                <label class="form-check-label">
                    Single Choice
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="choice-amount" type="radio" value="multiple-choice" onchange="showPriorities()">
                <label class="form-check-label">
                    Multiple Choice
                </label>
            </div>
            <div class="collapse pl-3" id="collapsePriorities">
                <div class="form-check">
                    <input class="form-check-input" name="choice-weight" type="radio" value="choice-equal" checked>
                    <label class="form-check-label">
                        ja/nein
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="choice-weight" type="radio" value="choice-priorities">
                    <label class="form-check-label">
                        ja/nein/vielleicht
                    </label>
                </div>
            </div>
        </div>
        <div class="form-check pt-5">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">
                Möglichkeiten ergänzbar
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">
                Anonym
            </label>
        </div>
        <button type="submit" name="_eventId_access"  class="btn btn-primary float-left mt-5">Zurück</button>
        <button type="submit" name="_eventId_choiceoptions" class="btn btn-primary float-right mt-5">Weiter</button>
    </form>
    <form method="post" th:fragment="publicationSettingsForm">
        <div class="form-group">
            <label>Dein Link</label>
            <input type="text" class="form-control" id="termin-link" value="LINK" readonly>
        </div>
        <div class="form-group">
            <label>Person hinzufügen</label>
            <input class="form-control" id="termin-person" placeholder="Name">
        </div>
        <div class="form-group">
            <label>Gruppe hinzufügen</label>
            <select class="custom-select" id="termin-group">
                <option>Gruppenname1</option>
                <option>Gruppenname2</option>
                <option>Gruppenname3</option>
            </select>
        </div>
        <div class="form-group">
            <label>Auswahl</label>
            <textarea class="form-control" id="termin-auswahl" placeholder="Namen und Gruppen" rows="3" readonly></textarea>
        </div>
        <button type="submit" name="_eventId_choiceoptions"  class="btn btn-primary float-left mt-5">Zurück</button>
        <button type="submit" name="_eventId_confirmation"  class="btn btn-primary float-right mt-5">Weiter</button>
    </form>
</body>
</html>
