<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Terminfindung und Abstimmung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
    <head>
        <meta charset="utf-8">
        <title>Terminfindung und Abstimmung</title>
        <th:block th:fragment="headcontent">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <link rel="stylesheet" th:href="@{/termine1.css}">

            <script>
                function collapseSection(id, icon){
                    $('#'+id).collapse('toggle');
                    if ( $('#'+icon).hasClass('fa-caret-down') ) {
                        $('#'+icon).removeClass('fa-caret-down');
                        $('#'+icon).addClass('fa-caret-up');
                    }
                    else {
                        $('#'+icon).removeClass('fa-caret-up');
                        $('#'+icon).addClass('fa-caret-down');
                    }
                }
            </script>

        </th:block>
    </head>
    <body>
        <header>
            <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
                <ul th:replace="fragments/general.html :: navigationList(dashboardActive=true)"></ul>
            </nav>
        </header>
        <main th:fragment="bodycontent">
            <nav class="navbar">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-2">
                            <span class="navbar-brand">
                                <i class="fa fa-hourglass"></i>
                                <p th:text="${vonMir.size()}"> 4 </p>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="navbar-brand">
                                <i class="fa fa-check"></i>
                                <p th:text="${vonMir.size()}"> 2 </p>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="navbar-brand">
                                <i class="fa fa-eye"></i>
                                <p th:text="${vonMir.size()}"> 1 </p>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            <hr>
            <h5 onclick="collapseSection('myPollsAndSchedules', 'myPollsCaret')">
                Von mir erstellt
                <span class="badge badge-secondary badge-pill ml-4">4</span>
                <i id="myPollsCaret" class="fa fa-caret-down ml-3" aria-hidden="true"></i>
            </h5>

            <div class="collapse show" id="myPollsAndSchedules">
                <th:block>
                    <tr th:each="dto : ${vonMir}">
                        <div th:link="${dto.getDatePollIdentifier()}"  th:pollType="${dto.getPollType()}"
                             onclick="window.location.href = '/vote/' + this.getAttribute('pollType') + '/' + this.getAttribute('link')" class="container px-0" data-questiontype="reopened">
                            <div class="card card-hover w-100 border-primary mb-1">
                                <div class="card-body p-3">
                                    <div class="row no-gutters">
                                        <div class="col-2 pr-2 justify-content-center d-flex">
                                            <i th:classappend="${dto.getStatus()}" class="fa fa-2x align-self-center"></i>
                                        </div>
                                        <div class="col-10 d-flex flex-column">
                                            <h5 class="card-title" th:text="${dto.getTitle()}">Alternativer Titel</h5>
                                            <h6 class="card-subtitle text-muted d-flex">
                                                <i class="fa fa-clock-o"></i>
                                                <span class="pl-1" th:text="${dto.getDate()}">04.03.2020</span>
                                                <span class="pl-2" th:text="${dto.getTime()}">08:00 Uhr</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </th:block>
            </div>
            <hr>

            <h5 onclick="collapseSection('otherPollsAndSchedules', 'otherPollsCaret')">
                Andere
                <span class="badge badge-secondary badge-pill ml-3">4</span>
                <i id="otherPollsCaret" class="fa fa-caret-down ml-3" aria-hidden="true"></i>
            </h5>

            <div class="collapse show" id="otherPollsAndSchedules">
                <th:block>
                    <tr th:each="dto : ${vonAnderen}">
                        <div th:data-thing="${dto.getDatePollIdentifier()}" onclick="window.location.href = '/vote/' + this.getAttribute('data-thing')" class="container px-0" data-questiontype="reopened">
                            <div class="card card-hover w-100 border-primary mb-1">
                                <div class="card-body p-3">
                                    <div class="row no-gutters">
                                        <div class="col-2 pr-2 justify-content-center d-flex">
                                            <i th:classappend="${dto.getStatus()}" class="fa fa-2x align-self-center"></i>
                                        </div>
                                        <div class="col-10 d-flex flex-column">
                                            <h5 class="card-title" th:text="${dto.getTitle()}">Alternativer Titel</h5>
                                            <h6 class="card-subtitle text-muted d-flex">
                                                <i class="fa fa-clock-o"></i>
                                                <span class="pl-1" th:text="${dto.getDate()}">04.03.2020</span>
                                                <span class="pl-2" th:text="${dto.getTime()}">08:00 Uhr</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </th:block>
            </div>


        </main>
    </body>
</html>