<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Terminfindung und Abstimmung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Terminfindung und Abstimmung</title>
    <th:block th:fragment="headcontent">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li class="active"><a>Dashboard</a></li>
            <li><a href="">Von mir erstellte (oder wie man das nennen soll)</a></li>
            <li><a href="wizard1">Terminfindung erstellen</a></li>
            <li><a href="">Abstimmung erstellen</a></li>
            <li><a href="">Beitreten</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <nav class="navbar">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-2">
                    <span class="navbar-brand">
                        <img th:src="@{icons/open.svg}" width="30" height="30" class="d-inline-block align-top" alt="">
                        2
                    </span>
                </div>
                <div class="col-2">
                    <span class="navbar-brand">
                        <img th:src="@{icons/current.svg}" width="30" height="30" class="d-inline-block align-top" alt="">
                        5
                    </span>
                </div>
                <div class="col-2">
                    <span class="navbar-brand">
                        <img th:src="@{icons/terminated.svg}" width="30" height="30" class="d-inline-block align-top" alt="">
                        1
                    </span>
                </div>
            </div>
        </div>
    </nav>
    <div class="container px-0" id="reopened">
        <div class="card w-100 border-success mb-1" style="width: 18rem;">
            <div class="card-body p-3">
                <div class="row no-gutters">
                    <div class="col-2 pr-2">
                        <img class="card-img" th:src="@{icons/reopened.svg}" width="52" height="52" alt="hourglass">
                    </div>
                    <div class="col-10 d-flex flex-column">
                        <h5 class="card-title">Terminabstimmung 4</h5>
                        <h6 class="card-subtitle text-muted d-flex">
                            <img class="flex-shrink-1 text-muted" th:src="@{icons/access_time.svg}" width="20" height="20" alt="verfügbar bis">
                            <span class="pl-1">04.03.2020</span><span class="pl-2">08:00 Uhr</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-0" id="open">
        <div class="card w-100 border-success mb-1" style="width: 18rem;">
            <div class="card-body p-3">
                <div class="row no-gutters">
                    <div class="col-2 pr-2">
                        <img class="card-img" th:src="@{icons/open.svg}" width="52" height="52" alt="hourglass">
                    </div>
                    <div class="col-10 d-flex flex-column">
                        <h5 class="card-title">Terminabstimmung 1</h5>
                        <h6 class="card-subtitle text-muted d-flex">
                            <img class="flex-shrink-1 text-muted" th:src="@{icons/access_time.svg}" width="20" height="20" alt="verfügbar bis">
                            <span class="pl-1">04.03.2020</span><span class="pl-2">08:00 Uhr</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-0" id="current">
        <div class="card w-100 border-success mb-1" style="width: 18rem;">
            <div class="card-body p-3">
                <div class="row no-gutters">
                    <div class="col-2 pr-2">
                        <img class="card-img" th:src="@{icons/current.svg}" width="52" height="52" alt="hourglass">
                    </div>
                    <div class="col-10 d-flex flex-column">
                        <h5 class="card-title">Terminabstimmung 2</h5>
                        <h6 class="card-subtitle text-muted d-flex">
                            <img class="flex-shrink-1 text-muted" th:src="@{icons/access_time.svg}" width="20" height="20" alt="verfügbar bis">
                            <span class="pl-1">04.03.2020</span><span class="pl-2">08:00 Uhr</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-0" id="terminated">
        <div class="card w-100 border-dark mb-1" style="width: 18rem;">
            <div class="card-body p-3">
                <div class="row no-gutters">
                    <div class="col-2 pr-2">
                        <img class="card-img" th:src="@{icons/terminated.svg}" width="52" height="52" alt="hourglass">
                    </div>
                    <div class="col-10 d-flex flex-column">
                        <h5 class="card-title">Terminabstimmung 3</h5>
                        <h6 class="card-subtitle text-muted d-flex">
                            <img class="flex-shrink-1 text-muted" th:src="@{icons/access_time.svg}" width="20" height="20" alt="verfügbar bis">
                            <span class="pl-1">04.03.2020</span><span class="pl-2">08:00 Uhr</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>