<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Terminfindung und Abstimmung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Terminfindung und Abstimmung</title>
    <th:block th:fragment="headcontent">
        <script type="text/javascript" th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/termine1.js}"></script>
        <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/css/termine1.css}">

    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul th:replace="fragments/general.html :: navigationList"></ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container">
        <form th:action method="post">
            <div>
                <h2 >Titel <span th:text="${metaInf.getTitle()}"> </span> </h2>
                <h3 >Beschreibung <span th:text="${metaInf.getDescription()}"></span></h3>
                <h3 >Ort <span th:text="${metaInf.getLocation()}"></span></h3>
            </div>
            <table id="resultTable" class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <th class="th-sm"></th>
                    <th class="th-sm"><i class="fa fa-check"></i></th>
                    <th th:if="${config.isPriorityChoice()}" class="th-sm"><b>(</b><i class="fa fa-check"></i><b>)</b></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="entry : ${results}">
                        <td>
                            <div class="row">
                                <div class="col-1 desktopResultTableWeekday">
                                    <span th:text="${entry.getStartDay()}"></span>
                                </div>
                                <div class="col-2 desktopResultTableDate">
                                    <span th:text="${entry.getStartDate()}"></span>
                                </div>
                                <div class="col desktopResultTableTimespan">
                                    <span th:text="${entry.getFormattedTimeSpan()}"></span>
                                </div>
                            </div>

                        </td>
                        <td th:text="${entry.getYesVotes()}">0</td>
                        <td th:if="${config.isPriorityChoice()}" th:text="${entry.getMaybeVotes()}">0</td>
                    </tr>
                </tbody>
            </table>

            <button type="submit" name="_eventId_home" class="btn btn-primary float-right">Fertig</button>
            <button type="submit" name="_eventId_vote" class="btn btn-primary float-left">Ändern</button>
        </form>
    </div>
</main>
</body>
</html>

