<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Terminfindung und Abstimmung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
    <head>
        <meta charset="utf-8">
        <title>Terminfindung und Abstimmung</title>
        <th:block th:fragment="headcontent">
            <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
            <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}">
            <link rel="stylesheet" th:href="@{/css/termine1.css}">
            <script type="text/javascript" th:src="@{/js/termine1.js}"></script>
            <script type="text/javascript" th:src="@{/popper/popper.min.js}"></script>
            <script type="text/javascript" th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
            <script type="text/javascript" th:src="@{/bootstrap/bootstrap.min.js}"></script>
        </th:block>
    </head>
    <body>
        <header>
            <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
                <ul th:replace="fragments/general.html :: navigationList(dashboardActive=true)"></ul>
            </nav>
        </header>
        <main th:fragment="bodycontent">

            <div th:if="${ownPolls.size() == 0}" class="jumbotron">
                <h1 class="display-4">Hallo!</h1>
                <p class="lead">Du hast momentan keine Umfragen.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>

            <div class="container-fluid row justify-content-center">
                <div class="col-9 col-md-6 col-lg-4 col-xl-3 d-flex flex-row justify-content-between">
                    <span>
                        <i class="fa fa-hourglass"></i>
                        <span th:text="${open+reopened}"> 4 </span>
                    </span>
                    <span>
                        <i class="fa fa-check"></i>
                        <span th:text="${ongoing}"> 2 </span>
                    </span>
                    <span>
                        <i class="fa fa-eye"></i>
                        <span th:text="${terminated}"> 1 </span>
                    </span>
                </div>
            </div>
            <hr>
            <h5 th:unless="${ownPolls.size()==0}" class="d-flex align-content-center" onclick="collapseSection('myPollsAndSchedules', 'myPollsCaret')">
                <i id="myPollsCaret" class="fa fa-caret-down mr-3" aria-hidden="true"></i>
                Von mir erstellt
                <span th:text="${ownPolls.size()}" class="badge badge-secondary badge-pill ml-4">4</span>
            </h5>

            <div th:unless="${ownPolls.size()==0}" class="collapse show" id="myPollsAndSchedules">
                <th:block>
                    <div class="container px-0" th:each="dto : ${ownPolls}">
                        <a  class="text-decoration-none text-dark" th:href="@{'/vote/' + ${dto.getPollType()} + '/' + ${dto.getDatePollIdentifier()}}" data-questiontype="reopened">
                            <div class="card card-hover w-100 border-primary mb-1">
                                <div class="card-body p-3">
                                    <div class="row no-gutters">
                                        <div class="col-2 pr-2 justify-content-center d-flex">
                                            <i th:classappend="${dto.getStatus()}" class="fa fa-2x align-self-center"></i>
                                        </div>
                                        <div class="col-10 d-flex flex-column">
                                            <h5 class="card-title" th:text="${dto.getTitle()}">Alternativer Titel</h5>
                                            <h6 class="card-subtitle text-muted d-flex">
                                                <i class="fa fa-clock-o"></i>
                                                <span class="pl-1" th:text="${dto.getDate()}">04.03.2020</span>
                                                <span class="pl-2" th:text="${dto.getTime()}">08:00 Uhr</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
            <hr th:unless="${otherPolls.size()==0}" >

            <h5 th:unless="${otherPolls.size()==0}" class="d-flex align-content-center" onclick="collapseSection('otherPollsAndSchedules', 'otherPollsCaret')">
                <i id="otherPollsCaret" class="fa fa-caret-down mr-2" aria-hidden="true"></i>
                Andere
                <span th:text="${otherPolls.size()}" class="badge badge-secondary badge-pill ml-3">4</span>
            </h5>

            <div th:unless="${otherPolls.size()==0}" class="collapse show" id="otherPollsAndSchedules">
                <th:block>
                    <div class="container px-0" th:each="dto : ${otherPolls}">
                        <a class="text-decoration-none text-dark" th:href="@{'/vote/' + ${dto.getPollType()} + '/' + ${dto.getDatePollIdentifier()}}" data-questiontype="reopened">
                            <div class="card card-hover w-100 border-primary mb-1">
                                <div class="card-body p-3">
                                    <div class="row no-gutters">
                                        <div class="col-2 pr-2 justify-content-center d-flex">
                                            <i th:classappend="${dto.getStatus()}" class="fa fa-2x align-self-center"></i>
                                        </div>
                                        <div class="col-10 d-flex flex-column">
                                            <h5 class="card-title" th:text="${dto.getTitle()}">Alternativer Titel</h5>
                                            <h6 class="card-subtitle text-muted d-flex">
                                                <i class="fa fa-clock-o"></i>
                                                <span class="pl-1" th:text="${dto.getDate()}">04.03.2020</span>
                                                <span class="pl-2" th:text="${dto.getTime()}">08:00 Uhr</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </main>
    </body>
</html>