<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Terminfindung und Abstimmung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Terminfindung und Abstimmung</title>
    <th:block th:fragment="headcontent">
    </th:block>
</head>
<body>
    <form method="post" th:fragment="form"
          th:object="${publicationDto}" th:action="${flowExecutionUrl}">

        <div th:replace="fragments/general.html :: defaultErrorAlerts"></div>

        <div class="alert alert-warning" th:errors="*{ispublic}" th:text="${err}"></div>

        <div class="form-group">
            <label for="publication-link">Dein Link</label>
            <input type="text" class="form-control" id="publication-link" th:value="*{link}" readonly>
        </div>

        <div class="form-group">
            <label>Berechtigungen</label>
            <div class="form-check">
                <input class="form-check-input" id="publication-accessibility" onchange="showGroups()" th:field="*{ispublic}" type="checkbox" th:classappend="${#fields.hasErrors('ispublic') ? 'checked' : ''}">
                <label for="publication-accessibility">Öffentliche Umfrage</label>
                <small class="form-text text-muted mt-0">Alle angemeldeten Nutzer*innen von MOPS können teilnehmen, wenn sie den Link kennen.</small>
            </div>
        </div>

        <div class="form-group collapse show" id="groupSection">
            <label for="publication-gruppe">Gruppe hinzufügen</label>
            <input class="form-control tagsinput" id="publication-gruppe" th:field="*{groups}" placeholder="Gruppenname"
                   th:classappend="${T(mops.utils.BootstrapValidInvalidUtil).getClass(#fields.hasErrors('groups'), #fields.hasAnyErrors())}">
            <small class="form-text text-muted mt-0">Hier anhand des Gruppennamen suchen oder die ID einfügen.</small>

            <div class="invalid-feedback" th:errors="*{groups}"></div>
        </div>

        <button type="submit" name="_eventId_confirmation"  class="btn btn-primary float-right mt-5">Weiter</button>
        <button type="submit" name="_eventId_entries"  class="btn btn-primary float-left mt-5">Zurück</button>

        <script type="text/javascript" th:inline="javascript">
            $('.tagsinput').tagsInput({
                interactive: true,
                placeholder: 'Gruppe hinzufügen',
                /*<![CDATA[*/
                autocomplete: {source: /*[[*{suggestions}]]*/ {}},
                /*]]>*/
                delimiter: [','],
                unique: true,
                removeWithBackspace: true,
            });
        </script>
    </form>
</body>
</html>
