<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Terminfindung und Abstimmung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Terminfindung und Abstimmung</title>
    <th:block th:fragment="headcontent">
        <script type="text/javascript" th:src="@{/js/termine1.js}"></script>
    </th:block>
</head>
<body>
    <form method="post" class="needs-validation" novalidate th:fragment="form"
          th:object="${configDto}" id="datePollConfig" th:action="${flowExecutionUrl}" >
        <div class="single-choice form-group">

            <label>Anzahl Auswahlmöglichkeiten</label>
            <div class="form-check">
                <input class="form-check-input" id="single-choice" type="radio"
                       value="true" th:field="*{singleChoice}" checked onchange="showPriorities()">
                <label for="single-choice" class="form-check-label">
                    Single Choice
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" id="multiple-choice" type="radio"
                       value="false" th:field="*{singleChoice}" onchange="showPriorities()">
                <label for="multiple-choice" class="form-check-label">
                    Multiple Choice
                </label>
            </div>
            <div class="form-check collapse hide" id="collapsePriorities">
                <div class="form-check">
                    <input class="form-check-input" id="priority-choice1" type="radio" value="false" th:field="*{priorityChoice}" checked>
                    <label for="priority-choice1" class="form-check-label">
                        ja/nein
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="priority-choice2" type="radio" value="true" th:field="*{priorityChoice}">
                    <label for="priority-choice2" class="form-check-label">
                        ja/nein/vielleicht
                    </label>
                </div>
            </div>
            <hr>
            <label>Stimmabgabe</label>
            <div class="form-check">
                <input class="form-check-input" id="choice-mutable" type="checkbox" value="true" th:field="*{voteIsEditable}">
                <label for="choice-mutable" class="form-check-label">
                    Stimme im Nachhinein editierbar
                </label>
            </div>
            <hr>
            <label>Namensanzeige</label>
            <div class="form-check">
                <input class="form-check-input" id="name-anonymous" type="checkbox" value="true" th:field="*{anonymous}">
                <label for="name-anonymous" class="form-check-label">
                    Anonym
                </label>
            </div>
            <button type="submit" name="_eventId_entries" class="btn btn-primary float-right mt-5">Weiter</button>
            <button type="submit" name="_eventId_metaInfStep2"  class="btn btn-primary float-left mt-5">Zurück</button>
        </div>
    </form>
</body>
</html>
